@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background-color: #000000;
}


@font-face {
  font-family: 'beatStreet';
  src: url('https://beattreetfont.s3.ap-southeast-2.amazonaws.com/beatstreet.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}
